lecture/.vs/lecture/xs/UserPrefs.xml

# UNITY #
lecture/Library
lecture/obj
lecture/Temp


#etc#
lecture/lecture.Editor.csproj
lecture/lecture.Plugins.csproj
lecture/lecture.csproj
lecture/lecture.sln
